#header {
  width:250px;
  height: 170px;
  margin:0 auto 0px;
  background: #fff url(../images/adipart_install.png) no-repeat top center;
}

p{
  font: 16px;
  font-family:Arial,Helvetica,sans-serif;
  color: black;
  text-align: right;
}
p.ok{
  font: 16px;
  font-family:Arial,Helvetica,sans-serif;
  color: black;
  text-align: right;
}

p.error{
  font: 16px;
  font-family:Arial,Helvetica,sans-serif;
  color: red;
  text-align: right;
  background-color: #FFBABA;
  background-image: url('../images/dialog-error.png');

}

.info, .success, .warning, .validation, .perm {
border: 1px solid;
margin: 1px 0px;
padding:1px 1px 1px 30px;
background-repeat: no-repeat;
background-position: 10px center;
}

.error {
border: 1px solid;
margin: 1px 0px;
padding:1px 1px 1px 30px;
background-repeat: no-repeat;
background-position: 10px center;
}

p.perm{
  font: 16px;
  font-family:Arial,Helvetica,sans-serif;
  color: red;
  background-color: #FFBABA;
  background-image: url('../images/dialog-error.png');
  text-align: left;
}

p.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image:url('../images/success.png');
}

p.warning { 
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/dialog-warning.png');
  text-align: left;
}

